version: '3'
services:
  database:
    image: "postgres" # use latest official postgres version
    ports:
        - "5432:5432"
    env_file:
      - database.env # configure postgres
volumes:
     database-data: # named volumes can be managed easier using docker-compose
            